/* Variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 120rem;
  --poligon: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

/* General Style */
*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

ul {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* Global Classes */
.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  color: var(--clr-grey-1);
  background-color: var(--clr-primary-5);
  border-radius: 0.75rem;
  text-transform: uppercase;
  color: var(--clr-grey-1);
  letter-spacing: var(--spacing);
  font-weight: 600;
  transition: var(--transition);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

.underline {
  width: 7rem;
  height: 0.35rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.item-center {
  text-align: center;
}

/* backgrounds */
.bg-light-grey {
  background: var(--clr-grey-10);
}

/* Padding */
.py-1 {
  padding: 6rem 0;
}

.py-2 {
  padding: 5rem 0;
}

.py-3 {
  padding: 3rem 0 4rem 0;
}

/* Navbar */
.navbar {
  background: var(--clr-grey-10);
  min-height: 10vh;
  padding: 1.5rem 0;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 2 1 40rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2 1 30rem;
}

.nav-links a {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
  font-weight: bold;
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--clr-primary-5);
  border-bottom: 0.23rem solid var(--clr-primary-5);
}

/* Fixed navbar */
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--clr-white);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

/* Sidebar nav */
.hamburger {
  display: none;
}

.sidebar {
  display: none;
}
/* end sidebar */

/* Hero */
.hero {
  min-height: 90vh;
}

.hero-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-content .underline {
  margin-bottom: 0.75rem;
  margin-left: 0;
}

.hero-content h4 {
  font-size: 1.6rem;
  margin: 2rem 0 1.5rem 0;
  color: var(--clr-grey-5);
}

.btn-hero {
  margin-top: 2rem;
}

.hero-img-container {
  display: block;
  position: relative;
  margin-top: 2rem;
}

.hero-image {
  max-width: 35rem;
  max-height: 40rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

.hero-img-container::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: -1.5rem;
  width: 100%;
  height: 100%;
  border: 0.4rem solid var(--clr-primary-5);
  border-radius: var(--radius);
  transition: var(--transition);
}

/* About Section */
.about {
  background: url('../images/about-bg-1.svg') no-repeat center center / cover;
  min-height: 100vh;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  align-items: center;
  place-items: center;
  padding-top: 4rem;
}

.about-img-container {
  display: block;
  position: relative;
  margin-bottom: 2rem;
}

.about-image {
  max-width: 40rem;
  max-height: 45rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

.about-img-container::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: -1.5rem;
  width: 100%;
  height: 100%;
  border: 0.4rem solid var(--clr-primary-5);
  border-radius: var(--radius);
}

.about-content {
  align-self: center;
}

.about-content .underline {
  margin-left: 0;
  margin-bottom: 1rem;
}

.about-content p {
  margin: 2rem 0;
}

/* Services section */
.services {
  min-height: 90vh;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  align-items: center;
  padding-top: 3rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  padding: 5rem 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.grid-item img {
  width: 5rem;
}

.grid-item h4 {
  margin-top: 2rem;
  font-size: 2rem;
}

.grid-item p {
  margin-top: 1rem;
}

.grid-item:hover {
  background: var(--clr-primary-5);
  color: #fff;
  transform: translateY(-3%);
}

.grid-item:hover .underline {
  background-color: #fff;
}

.grid-item:hover p {
  color: var(--clr-grey-10);
}

/* Latest Work */
.work {
  min-height: 100vh;
}

.work-content {
  margin-bottom: 5rem;
}

.work .work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
}

.work .work-grid-item {
  overflow: hidden;
}

.work-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.work-grid-item img:hover {
  transform: scale(1.2);
}

/* Start Work Modal */
.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.full-img {
  position: absolute;
  width: 40%;
  height: auto;
  object-fit: cover;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  overflow: hidden;
}

.full-img.open {
  transform: translate(-50%, -50%) scale(1);
}

.modal p {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 2rem;
  color: var(--clr-white);
  transform: translate(-50%, -5%);
}

/* Work Modal End */

.work .btn-container {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container .btn-work {
  display: inline-block;
  width: 30rem;
  text-align: center;
}

/* Contact Section */
.contact {
  background: linear-gradient(to right bottom, var(--clr-primary-8), var(--clr-primary-9));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0 2rem 0;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.contact-grid .contact-grid-item {
  background: var(--clr-grey-10);
  margin: 2rem;
  padding: 4rem;
  align-self: center;
  text-align: center;
  border-radius: var(--radius);
}

.contact-grid-item h3 {
  font-size: 2rem;
}

.contact-grid-item a {
  font-size: 1.6rem;
  color: var(--clr-grey-1);
}

.contact-grid-item > * {
  padding: 1rem 0;
}

/* Footer */
.footer {
  background: rgba(0, 0, 0, 0.9);
}

.footer-flex {
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-flex > div a {
  color: var(--clr-primary-5);
  margin-right: 2.5rem;
}

.footer-flex .footer-content {
  margin-top: 2rem;
  font-size: 2rem;
}

/* Media Queries for max-width 1090px */
@media screen and (max-width: 1090px) {
  /* navbar */
  .logo-container {
    flex: 1 1 10rem;
  }
  
  .nav-links {
    flex: 1 1 25rem;
  }

    /* Hero */
    .hero-grid {
      flex-direction: column-reverse;
    }
  
    .hero-content {
      align-self: center;
      text-align: center;
      margin-top: 3rem;
    }
  
    .hero-content .underline {
      margin: 0 auto;
    }
  
    .hero-img-container {
      height: 26rem;
      width: 26rem;
      border: 1.5rem solid rgba(0, 0, 0, 0.07);
      border-radius: 50%;
    }
  
    .hero-img-container::before {
      border: none;
    }
  
    .hero-img-container .hero-image {
      border-radius: 50%;
      width: 23rem;
      height: 23rem;
      border: 1.5rem solid rgba(0, 0, 0, 0.17);
    }
 
}

/* Media Query for desktop */
@media screen and (min-width: 992px) {
  /* .container {
    max-width: 1201px;
    padding: 0 3rem;
  } */

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktop-height {
    min-height: 0vh;
  }
}

/* Media Queries for max-width 867px */
@media screen and (max-width: 867px) {
  /* Navbar */
  .nav-links {
    display: none;
  }

  .logo-container {
    position: relative;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    background: transparent;
    color: var(--clr-grey-3);
    font-size: 3rem;
    border: none;
    outline: none;
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-grey-10);
    z-index: 10;
    transition: var(--transition);
    transform: translateX(-100%);
  }

  /* show sidebar */
  .show-sidebar {
    transform: translateX(0);
  }

  .close-btn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: crimson;
    background: transparent;
    outline: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    transition: var(--transition);
  }

  .close-btn:hover {
    transform: rotate(180deg);
  }

  .sidebar-links a {
    font-size: 2.5rem;
    text-transform: capitalize;
    transition: var(--transition);
    color: var(--clr-grey-5);
    letter-spacing: var(--spacing);
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  .sidebar-links a:hover {
    color: var(--clr-primary-5);
  }

  .sidebar .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .sidebar .social-links a {
    margin-left: 2rem;
    color: var(--clr-grey-1);
    transition: var(--transition);
  }

  .sidebar .social-links a:hover {
    color: var(--clr-grey-5);
  }
  /* end sidebar */

  /* work section */
  .full-img {
    width: 50%;
    height: auto;
  }

  .modal p {
    bottom: 0;
    left: 50%;
  }
}

/* Media Queries for max-width 768px*/
@media screen and (max-width: 768px) {

  /* About */
  .about-grid {
    grid-template-columns: 1fr;
  }
  .about-content {
    padding-top: 3rem;
  }

  .about-content .hide {
    display: none;
  }

  .about-image {
    width: 25rem;
    height: 30rem;
  }
  .about-img-container::before {
    border: none;
  }

  .about-img-container::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1.4rem;
    top: 0;
    border-left: 0.4rem solid var(--clr-primary-5);
    border-radius: var(--radius);
  }
}

/* Media Query for max-wdth: 450px */
@media screen and (max-width: 450px) {
  /* Work */
  .work .work-grid {
    grid-template-columns: 1fr;
  }

  /* modal */
  .full-img {
    width: 80%;
    height: 45%;
  }
}